Source: blinken
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: José Manuel Santamaría Lema <panfaust@gmail.com>,
 Eshat Cakar <info@eshat.de>
Build-Depends: kde-sc-dev-latest (>= 4:4.7.4),
 cmake, debhelper (>= 7.3.16), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4.7)
Standards-Version: 3.9.3
Homepage: http://edu.kde.org/applications/all/blinken
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/blinken.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/blinken.git

Package: blinken
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-sjfonts
Section: misc
Suggests: khelpcenter4
Description: KDE version of the Simon electronic memory game
 Blinken is based on an electronic game released in 1978, which
 challenges players to remember sequences of increasing length.  On
 the face of the device, there are 4 different color buttons, each
 with its own distinctive sound.  These buttons light up randomly,
 creating the sequence that the player must then recall.  If the
 player is successful in remembering the sequence of lights in the
 correct order, they advance to the next stage, where an identical
 sequence with one extra step is presented.
 .
 This package is part of the KDE education module.

